// Base styles

html {
  font-size: 18px;
  line-height: 27px;
}

body {
  font-family: 'Iowan Old Style', 'Sitka Text', Palatino, 'Book Antiqua', serif;
  font-size: 1em;
  line-height: 1.5em;
  max-width: 700px;
  padding: 2em;
  padding-left: 150px;

  // On narrow screens, just center the content
  @media (max-width: 1000px) {
    padding-left: 2em;
    margin: 0 auto;
  }
}

// Element styles

h1 {
  font-size: 1.94444444em;
  line-height: 1.54285714em;
  margin-top: 0.77142857em;
  margin-bottom: 1.54285714em;
}

h2 {
  font-size: 1.55555556em;
  line-height: 1.92857143em;
  margin-top: 0.96428571em;
  margin-bottom: 0.96428571em;
}

h3 {
  font-size: 1.27777778em;
  line-height: 1.17391304em;
  margin-top: 1.17391304em;
  margin-bottom: 0em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}

h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}

p,
ul,
ol,
hr,
img,
pre,
table,
blockquote {
  margin-top: 0em;
  margin-bottom: 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a {
  color: #06c;
  text-decoration: none;

  &:visited {
    color: #06c;
  }
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  padding-top: 0.19444444em;
  border-left: 4px solid #000;
}

hr {
  border: 0;
  background-color: #efefef;
  height: 1px;
}

img {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 1.5em;
  display: block;
}

pre {
  font-family: Hasklig, 'Source Code Pro', 'Courier New', Courier, monospace;
  padding: 2em;
  overflow-x: scroll;
}

p > code {
  background-color: #efefef;
  padding: 0 3px;
}

div.video {
  margin-bottom: 1.5em;
  overflow: hidden;
  padding-top: 56.25%; // 16 by 9
  position: relative;

  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// Page layout

// Header
body > header {
  font-variant: small-caps;
  font-weight: 500;
  font-size: 1.61111111em;
  line-height: 1.72413793em;
  margin-top: 0.86206897em;
  margin-bottom: 1.5em;

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
}

// Post list
body > section article {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 9px;
  margin-bottom: 0.69444444em;
  width: 100%;

  [itemprop='datePublished'] {
    font-size: small;
    color: #333;
    text-align: right;
  }
}

// Footer
body > footer {
  margin-top: 1.5em;
  font-size: small;
  color: #333;
  border-top: 1px solid #efefef;
  padding-top: 1.5em;
}
