@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sidebar {
  width: 100%;
  &__inner {
    position: relative;
    padding: 25px 20px 0;
  }
}

@include breakpoint-sm {
  .sidebar {
    lost-column: 5/12;
    &__inner {
      padding: 30px 20px 0;
    }
  }
}

@include breakpoint-md {
  .sidebar {
    lost-column: 1/3;
    &__inner {
      padding: 40px;
    }
  }
}
