<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} {{section.title}} {% endblock title %}</title>
    <link rel="shortcut icon" href="/icon-48x48.png" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header><a href="/">Jacob Gillespie</a></header>

    {% block content -%}
    {{ section.content | safe }}

    <section>
      <h2>Posts</h2>
      {%- for page in section.pages -%}
        {% if page.date %}
        <article itemscope itemtype="http://schema.org/BlogPosting">
          <div itemprop="headline"><a href="{{ page.permalink }}">{{ page.title }}</a></div>
          <div itemprop="datePublished">{{ page.date | date(format="%B %e, %Y") }}</div>
        </article>
        {% endif %}
      {%- endfor -%}
    </section>
    {%- endblock content -%}


    <footer>
      Copyright &copy; 2019 Jacob Gillespie. All Rights Reserved.
    </footer>

    <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
    </script>
  </body>
</html>
