---
layout: default
---

<div class="home-page">
  <div class="her-row nav-bar">
    <div class="container">
        <div class="row">
          {% include custom/home_landing_row.html %}
        </div>
    </div>
  </div>

  <div class="article-list">
    <div class="container">
      {% for post in paginator.posts %}
        {% assign content = post.content %}
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            {% include article_listing.html %}
          </div>
        </div>
      {% endfor %}

      <div class="pagination">
        {% if paginator.next_page %}
          <a class="prev" href="{{paginator.next_page_path}}">&larr; Older</a>
        {% endif %}
        <a href="/blog/archives">Blog Archives</a>
        {% if paginator.previous_page %}
        <a class="next" href="{{paginator.previous_page_path}}">Newer &rarr;</a>
        {% endif %}
      </div>
    </div>
  </div>

</div>
