// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$link-color: #7C7871;
$border-color: #dfdfdf;

a {
  color: $link-color;
  text-decoration: underline;
  &:hover {
    color: $link-color;
  }
}

.her-row {
  background: #F8F8F8;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  h4 {
    /* A la Medium.com */
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 500;
    letter-spacing: -0.05em;
    font-size: 30px;
    color: #555451; //#7C7871; //#5C5954;
    padding-bottom: 0;

    a {
      text-decoration: none;
      color: #555451;
    }
  }

  p {
    font-size: 14px;
    color: #bbb;
  }
}

.article-list {
  padding-top: 0;
  margin-bottom: 20px;

  article {
    padding-bottom: 20px;

    p {
      color: #333;
      font-size: 18px;
      font-weight: 400;
    }

    h2 > a {
      color: #333131;
      font-weight: bold;
      font-size: 24px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.full-single-article {
  p {
    font-size: 18px;
    font-weight: normal;
  }
}

.home-icon {
  background-color: rgba(0,0,0,0.1);
  text-decoration: none;
  left: auto;
  right: 10px;

  &:hover {
    text-decoration: none;
  }

  p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
  }
}

.home-field #about-me .social-icon-list {
  margin-top: 0;
}

.archive-link h3 a {
  font-size: 12px;
}

#footer {
  span {
    font-size: 14px;
    color: rgba(0,0,0,0.2);

    a {
      color: rgba(0,0,0,0.2);
    }
  }
}

/* https://github.com/IanLunn/Hover */
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

ul, ol {
  font-size: 18px;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: disc inside;
}

p code, li code {
  background: #E2DEDE;
  color: #000;
  border: 1px solid #CEC2C2;
}
